body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

#tabs {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

#tab-one, #tab-two {
	flex: 1;
}

@media (max-width: 600px) {
	#tab-two {
		flex-direction: column;
		align-items: flex-start;
	}

	#navbar a {
		display: inline-block;
		width: auto;
		margin: 5px 0;
	}
}


@font-face {
	font-family: "halenoir";
	src: url("font/navbar.otf");
	}

#navbar a {
	text-decoration: none;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	color: #FF0000;
	border: 2px solid transparent;
	font-size: 3em;
	font-family: "halenoir", sans-serif;
	margin: 0 10px;
	transition: background-color 0s, box-shadow 0s, border-radius 0s;
	margin-top: 15px;
}

p {
	font-family: "halenoir", sans-serif;
}

#tab-one a {
	text-align: left;
}


#tab-two a {
	text-align: right;
}

#tab-two {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#navbar a:hover {
	background-color: #C0C0C0;
	border-radius: 40px;
	box-shadow: 0 0 0px 10px #C0C0C0;
	transition: background-color 0s, box-shadow 0s, border-radius 0s;
}

@media (max-width: 767px) {
			#navbar {
				position: static;
			}

			#navbar #tab-one {
				font-size: 1em;
				white-space: nowrap;
			}

			#navbar #tab-two {
				font-size: .8em;
				white-space: nowrap;
			}
		}

